/* <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= --> */

.top-section {
    font-family: Arial;
    margin-top: -22px;
    margin-left: -10px;
    margin-right: -10px;
  
}

.navbar{
    text-decoration: none;
    margin-left: -10px;
    margin-right: -10px;
}

.nav-first-section,
.nav-second-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-first-section {
    padding-top: 15px;
    margin-bottom: 10px;
}

.nav-second-section {
    padding-bottom: 15px;
}

.child {
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: -140px;
    font-family: Roboto, Arial, Helvetica, sans-serif;

}

.child>a {
    color: #202340;
}

.logo {
    width: 10%;
}

.logo>img {
    width: 100%;
}

.humbergar-div,
.logo {
    margin-left: 25px;
}

.humbergar-div {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.child-second-section,
.second-logo {
    margin-right: 25px;
}

.child-second-section {
    width: 22%;
    display: flex;
    justify-content: space-between;
}

#NamesSorting {
    padding: 13px 15px;
    border: none;
    border-radius: 50px;
}
a{
    text-decoration: none;
}
select+input {
    padding: 8px 80px;
    width: 40%;
    border: none;
    border-left: 1px solid black;
}

form {
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
    width: 100%;
    background: white;
}

.input-section {
    width: 40%;
    margin-left: -150px;
}

.btn1 {
    background-color: #202340;
    margin-left: 18px;
    height: 45px;
    width: 30px;
    padding-right: 15px;
    border-radius: 0px 50px 50px 0px;
}

.btn1>img {
    width: 75%;
}

.navbar {
    background: #f0f1f7;
    position: sticky;
    top: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    /* border: 2px solid black; */
}

.child-second-section>a,
.humbergar-div>a {
    color: #202340;
}


.second-logo>img {
    color: white;
}

a:hover {
    color: #00a8ca
}

.btn1>img {
    color: white;
}

.top-section {
    background-color: #202340;
    color: white;
    text-align: center;
    padding: 7px;
    font-size: 16px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.child-second-section p {
    border: 1px solid black;
    width: 25%;
    border-radius: 50%;
    text-align: center;
}

.cart-section {
    position: relative;

}

.cart-section a {
    color: #202340;
}

.cart-count {
    position: absolute;
    top: -29px;
    left: 7px;
    background-color: white;
    font-size: 15px;
}

/* .....................................HAMBERGER-MENU........................................... */

#menu {
    width: 30px;
    height: 30px;
    margin: 0px 0 0px 25px;
    cursor: pointer;
    z-index: 100;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #202340;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav li a {
    color: #202340;
    text-decoration: none;
}

.nav li a:hover {
    border: 1px solid #fff;
    /* padding: 10px 20px; */
}

.nav li {
    list-style: none;
    padding: 16px 0;
    margin-left: 20px;
}

.nav h4 {
    margin-left: 20px;
    margin-top: 180px;
    margin-bottom: 10px;
}

.nav li:nth-child(2) {
    margin-left: 20px;
}

.nav {
    padding: 0;
    margin: 0 20px;
    transition: 1s ease;
    display: none;
}

.icon .bar {
    background-color: #202340;
}

.icon #bar1 {
    transform: translateY(4px) rotate(-45deg);
}

.icon #bar3 {
    transform: translateY(-6px) rotate(45deg);
}

.icon #bar2 {
    opacity: 0;
}

.change {
    background-color: #ffffff;
    height: 100vh;
    margin: 0;
    position: absolute;
    font-size: 15px;
    top: 0;
    z-index: -100;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= --> */
body {
    color: #202340;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400
}

#product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 15px;

}

#product-container>div>img {
    width: 100%;
}

#product-container>div {
    text-align: left;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#product-container>div>p {
    text-align: left;
}

.sold {
    color: #202340;
    font-size: .75rem;
    line-height: .9rem;
}

.oprice {
    color: #202340;
    font-size: .9375rem;
    font-weight: 700;
    margin-left: 5px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: -15px;
}

.buttons>button:first-child {
    background-color: #fff;
    border: 1px solid #414467;
    color: #202340;
    border-radius: 50px;
    font-weight: 700;
    padding: 9.1px;
    height: 40px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
}

.buttons>button:last-child {
    background-color: #414467;
    border: none;
    padding: 9.1px;
    color: white;
    border-radius: 50px;
    font-weight: 700;
    height: 40px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
}

.buttons>button:last-child:hover {
    background-color: #202340;
}

.buttons>button:first-child:hover {
    color: #fff;
    background-color: #202340;
}

#product-container>div:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}
#match{
    display: flex;
}
#match>select{
    border: none;
    font-size: 14px;
    color: #202340;
}
#main{
    display: flex;
}
#sidebar{
    text-align: left;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#i{
    width: 15px;
    height: 15px;
}
#sidebar~p>input{
    height: 20px;
    width: 20px;
    margin-top: -2px;

}
#sidebar>p{
    display: flex;
  margin-right: 50px;
  margin-top: -10px;
}
.sideitem{
    font-size: 12px;
   padding-top: 10px;
}
.bcolor{
    font-size: 18px;
    font-weight: 700;
    color: #202340;
}
#filter>option{
    color: #202340;
    font-weight: 600;
}

#feedback{
    background-color: #f0f1f7;
    padding: 10px;
  
}
#feedback>input{
    border-radius: 2px;
    resize: vertical;
    margin: 15px auto;
    padding: 7px;
    height: 150px;
    width: 90%;
    border-radius: 10px;
}
#feedback>button{
    background-color: #fff;
    border: 1px solid #414467;
    color: #202340;
    border-radius: 50px;
    font-weight: 700;
    padding: 9.1px;
    height: 40px;
    line-height: 18px;
    font-size: 14px;
    cursor: pointer;
}
#feedback>button:hover{
    color: #fff;
    background-color: #202340;
}
#filtermen,#filterwomen, #filterkids,#filter{
    cursor: pointer;
}
/* <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= --> */
.first-div{
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 10px 0px 10px 0px;
    background:  #545871;
    color: white;
    border-bottom: 1px solid grey;
}
.emailbox{
    padding: 2px 80px 2px 0px;
    /* border: 2px solid rgb(255, 9, 9); */
}
.first-div label, span{
    font-size: .8125rem;
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-weight: 700;
}
.first-div button{
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
}
.first-div button:hover{
    background:  #202340;
    color: white;
}
.first-div div:nth-child(1){
    /* border: 2px solid black; */
   padding-left: 10px;
}
.first-div div:nth-child(2){
    /* border: 2px solid black; */
   padding-right: 10px;
}
.first-div div:nth-child(2) > button{
  margin-left: 6px;
}
.first-div div:nth-child(1) > input{
    margin-left: 6px;
}
.second-div {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    width:94.5%;
    margin: auto;
    font-size: .75rem;
    font-weight: 700;
    padding: 10px 0px 10px 6px;
    background: #545871;
}
.second-div a{
    padding: 0px 4px 0px 4px;
    border-left: 1px solid rgb(255, 255, 255);
    color: white;
}
.second-div a:first-child{
    border: none;
}
.footer-logos{
    /* border: 2px solid white; */
    width:20px;
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    position: absolute;
    left: 88%;
}
.footer-logos > img{
    /* border: 2px solid white; */
    width:100%;
    padding: 0px 5px;
}

.footer-copyright-section{
    /* border-top: 2px solid blue; */
    width: 95%;
    margin: auto;
    font-size: .6875rem;
    padding-top: 10px;
    line-height: 20px;
    
}
.links{
    text-decoration: underline;
    padding: 0px 2px 0px 4px;
    border-left: 1px solid rgb(0, 0, 0);
    color: #202340;
}
.footer-img-section{
    /* border-top: 2px solid black; */
    width:95%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 50px;
}
.footer-img-section > img:nth-child(7){
    height: 90px;
}
.footer-section{
    margin-top: 100px;
    margin-left: -49px;
    margin-right: -50px;
}
.footer-copyright-section,.footer-img-section{
    background-color: #f0f1f7;
}
.footer-img-section{
    margin-top: -10px;
   
}
@media only screen and (min-width: 641px) and (max-width: 1007px) {
    #product-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    
    }
    .child{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        gap: 10px;
        margin-left: -200px;
        
    }
    #form{
        display: flex;
        margin-left: 60px;
    }
    .second-logo>img{
        height: 30px;
        margin-right: 40px;
    }
    .child-second-section{
        margin-right: 70px;
    }
    .cart-section{
        padding: 5px;
        
    }
}  

/* small screens */
@media only screen and (min-width: 0px) and (max-width: 640px) {
    #product-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        gap: 15px;
    
    }
    .child{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1px;
        margin-left: -200px;
        
    }
    #form{
        display: flex;
        margin-left: 60px;
    }
    .second-logo>img{
        height: 30px;
        margin-right: 40px;
    }
    .child-second-section{
        margin-right: 70px;
    }
    .cart-section{
        padding: 5px;
        
    }
}